<section>
  <h1>Locations </h1>
  {{#each locations}}  
    <article class="locations">
      <h2><a href="/locations/{{id}}">{{name}}</a></h2>
      <p>{{body}}</p>
    </article>
  {{/each}}
</section>